*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width:100vw;
    display:flex;
    margin:0;
    padding:0;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.container1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(187, 33, 33, 0.1);
    background: rgb(223, 192, 53);
}

.container2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(187, 33, 33, 0.1);
    background: rgb(45, 182, 216);
}
.headings{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons{
    text-align: center;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.button{
    height: 20px;
    width: 50px;
    padding:2px;
    border:1px solid white;
    background:black;
    color:white;
}

.form{
    height:200px;
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}