*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headings{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons{
    text-align: center;
    gap: 10px;
    display: flex;
    justify-content: center;
}